@import "fonts/montserrat";
@import "blocks/formGroup";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/rent";

body {
  margin: 0;
  padding: 0;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 40px;
}